<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Java2Doc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Java2Doc.presentation.Java2DocModelWizardID"
            name="%_UI_Java2DocModelWizard_label"
            class="Java2Doc.presentation.Java2DocModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Java2DocModelFile.gif">
         <description>%_UI_Java2DocModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Java2Doc -->
      <editor
            id="Java2Doc.presentation.Java2DocEditorID"
            name="%_UI_Java2DocEditor_label"
            icon="icons/full/obj16/Java2DocModelFile.gif"
            extensions="java2doc"
            class="Java2Doc.presentation.Java2DocEditor"
            contributorClass="Java2Doc.presentation.Java2DocActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Java2Doc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="simpleJava.presentation.SimpleJavaModelWizardID"
            name="%_UI_SimpleJavaModelWizard_label"
            class="simpleJava.presentation.SimpleJavaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleJavaModelFile.gif">
         <description>%_UI_SimpleJavaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Java2Doc -->
      <editor
            id="simpleJava.presentation.SimpleJavaEditorID"
            name="%_UI_SimpleJavaEditor_label"
            icon="icons/full/obj16/SimpleJavaModelFile.gif"
            extensions="simplejava"
            class="simpleJava.presentation.SimpleJavaEditor"
            contributorClass="simpleJava.presentation.SimpleJavaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Java2Doc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="simpleDoc.presentation.SimpleDocModelWizardID"
            name="%_UI_SimpleDocModelWizard_label"
            class="simpleDoc.presentation.SimpleDocModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleDocModelFile.gif">
         <description>%_UI_SimpleDocModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Java2Doc -->
      <editor
            id="simpleDoc.presentation.SimpleDocEditorID"
            name="%_UI_SimpleDocEditor_label"
            icon="icons/full/obj16/SimpleDocModelFile.gif"
            extensions="simpledoc"
            class="simpleDoc.presentation.SimpleDocEditor"
            contributorClass="simpleDoc.presentation.SimpleDocActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Java2Doc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="runtime.presentation.RuntimeModelWizardID"
            name="%_UI_RuntimeModelWizard_label"
            class="runtime.presentation.RuntimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RuntimeModelFile.gif">
         <description>%_UI_RuntimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Java2Doc -->
      <editor
            id="runtime.presentation.RuntimeEditorID"
            name="%_UI_RuntimeEditor_label"
            icon="icons/full/obj16/RuntimeModelFile.gif"
            extensions="runtime"
            class="runtime.presentation.RuntimeEditor"
            contributorClass="runtime.presentation.RuntimeActionBarContributor">
      </editor>
   </extension>

</plugin>
