<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Triangles -->
      <package
            uri="platform:/resource/Triangles/model/Triangles.ecore"
            class="Triangles.TrianglesPackage"
            genModel="model/Triangles.genmodel"/>
   </extension>

</plugin>
