<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ExtType2Doc_SCDerived.ExtType2Doc_SCDerivedPackage" genModel="model/ExtType2Doc_SCDerived.genmodel" uri="platform:/resource/ExtType2Doc_SCDerived/model/ExtType2Doc_SCDerived.ecore"/>
  </extension>
</plugin>
