<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesWithSiblings -->
      <package
            uri="platform:/plugin/FamiliesWithSiblings/model/FamiliesWithSiblings.ecore"
            class="FamiliesWithSiblings.FamiliesWithSiblingsPackage"
            genModel="model/FamiliesWithSiblings.genmodel"/>
   </extension>

</plugin>
