<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="BlockLanguage.BlockLanguagePackage" genModel="model/BlockLanguage.genmodel" uri="platform:/plugin/BlockLanguage/model/BlockLanguage.ecore"/>
  </extension>
</plugin>
