*.class
**/gen/
**/bin/
**/xtend-gen/
*._trace
*.lp
.DS_Store
ADOSATERules/Adele2Aadl/model/Adele2Aadl_flattened.tgg.xmi
ADOSATERules/Adele2Aadl/model/Adele2Aadl_flattened.editor.xmi
ADOSATERules/Adele2Aadl/model/Adele2Aadl.tgg.xmi
ADOSATERules/Adele2Aadl/model/Adele2Aadl.editor.xmi
ADOSATERules/Adele2Aadl/model/Adele2Aadl.ecore
ADOSATERules/Adele2Aadl/instances/corr.xmi
ADOSATERules/Adele2Aadl/instances/protocol.xmi
ADOSATERules/Adele2Aadl/instances/src.xmi
ADOSATERules/Adele2Aadl/instances/trg.xmi
