
*.xtendbin

tggs/FeatureModelConciseToSafe/instances/corr.xmi

tggs/FeatureModelConciseToSafe/instances/protocol.xmi

tggs/FeatureModelConciseToSafe/instances/corr.xmi

tggs/BenchmarxFamiliesToPersons/instances/corr.xmi

tggs/BenchmarxFamiliesToPersons/instances/corr.xmi

tggs/BenchmarxFamiliesToPersons/instances/protocol.xmi

tggs/BenchmarxFamiliesToPersons/instances/src.xmi

tggs/BenchmarxFamiliesToPersons/instances/trg.xmi

*.class

*.genmodel
