<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleClassInheritance -->
      <package
            uri="platform:/resource/SimpleClassInheritance/model/simpleClassInheritance.ecore"
            class="simpleClassInheritance.SimpleClassInheritancePackage"
            genModel="model/simpleClassInheritance.genmodel"/>
   </extension>

</plugin>
