<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="SimpleChemistry.SimpleChemistryPackage" genModel="model/SimpleChemistry.genmodel" uri="platform:/resource/SimpleChemistry/model/SimpleChemistry.ecore"/>
  </extension>
</plugin>
