<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MetamodelInheritance2.MetamodelInheritance2Package" genModel="model/MetamodelInheritance2.genmodel" uri="platform:/resource/MetamodelInheritance2/model/MetamodelInheritance2.ecore"/>
  </extension>
</plugin>
