<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="bpmn2InstanceRepresentation.Bpmn2InstanceRepresentationPackage" genModel="model/BPMNInstanceRepresentation.genmodel" uri="platform:/resource/BPMNInstanceRepresentation/model/BPMNInstanceRepresentation.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="bpmn2InstanceRepresentation.change.ChangePackage" genModel="model/BPMNInstanceRepresentation.genmodel" uri="platform:/resource/BPMNInstanceRepresentation/model/BPMNInstanceRepresentation.ecore/change"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="bpmn2InstanceRepresentation.underspecification.UnderspecificationPackage" genModel="model/BPMNInstanceRepresentation.genmodel" uri="platform:/resource/BPMNInstanceRepresentation/model/BPMNInstanceRepresentation.ecore/underspecification"/>
  </extension>
</plugin>
