<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="GenericNodes.GenericNodesPackage" genModel="model/GenericNodes.genmodel" uri="platform:/resource/GenericNodes/model/GenericNodes.ecore"/>
  </extension>
</plugin>
