<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="IBeXTGGGantt2CPM.IBeXTGGGantt2CPMPackage" genModel="model/IBeXTGGGantt2CPM.genmodel" uri="platform:/resource/IBeXTGGGantt2CPM/model/IBeXTGGGantt2CPM.ecore"/>
  </extension>
</plugin>
