<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Documents -->
      <package
            uri="platform:/resource/Documents/model/Documents.ecore"
            class="Documents.DocumentsPackage"
            genModel="model/Documents.genmodel"/>
   </extension>

</plugin>
