<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V1 -->
      <package
            uri="platform:/resource/FamiliesToPersons_V1/model/FamiliesToPersons_V1.ecore"
            class="FamiliesToPersons_V1.FamiliesToPersons_V1Package"
            genModel="model/FamiliesToPersons_V1.genmodel"/>
   </extension>

</plugin>
