<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2007-10-29 10:32:02 aschach Exp $
-->

<plugin>



  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.topcased.adele.model.ADELE_Components.presentation.ADELE_ComponentsEditorID"
        name = "%_UI_ADELE_ComponentsEditor_label"
        icon = "icons/full/obj16/ADELE_ComponentsModelFile.gif"
        extensions = "adele_components"
        class = "org.topcased.adele.model.ADELE_Components.presentation.ADELE_ComponentsEditor" 
        contributorClass="org.topcased.adele.model.ADELE_Components.presentation.ADELE_ComponentsActionBarContributor" >
    </editor>
  </extension>    






   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ADELE -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.topcased.adele.model.ADELE_Components.presentation.ADELE_ComponentsModelWizardID"
            name="%_UI_ADELE_ComponentsModelWizard_label"
            class="org.topcased.adele.model.ADELE_Components.presentation.ADELE_ComponentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ADELE_ComponentsModelFile.gif">
         <description>%_UI_ADELE_ComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>



null
null
null
null
null


null
null
null
null
null


null
null
null
null
null


null
null
null
null
null


null
null
null
null
null


null
null
null
null
null


null
null
null
null
null</plugin>
