<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Clazz2GlossarDoc -->
      <package
            uri="platform:/resource/Clazz2GlossarDoc/model/Clazz2GlossarDoc.ecore"
            class="Clazz2GlossarDoc.Clazz2GlossarDocPackage"
            genModel="model/Clazz2GlossarDoc.genmodel"/>
   </extension>

</plugin>
