<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Clazz2GlossarDoc.Clazz2GlossarDocPackage" genModel="model/Clazz2GlossarDoc.genmodel" uri="platform:/resource/Clazz2GlossarDoc/model/Clazz2GlossarDoc.ecore"/>
  </extension>
</plugin>
