<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FeatureModelConcise.FeatureModelConcisePackage" genModel="model/FeatureModelConcise.genmodel" uri="platform:/resource/FeatureModelConcise/model/FeatureModelConcise.ecore"/>
  </extension>
</plugin>
