<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassInhHier2DB -->
      <package
            uri="platform:/resource/ClassInhHier2DB/model/ClassInhHier2DB.ecore"
            class="ClassInhHier2DB.ClassInhHier2DBPackage"
            genModel="model/ClassInhHier2DB.genmodel"/>
   </extension>

</plugin>
