<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Java2Doc.Java2DocPackage" genModel="model/Java2Doc.genmodel" uri="platform:/resource/Java2Doc/model/Java2Doc.ecore"/>
  </extension>
</plugin>
