<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Java2Doc -->
      <package
            uri="platform:/resource/Java2Doc/model/Java2Doc.ecore"
            class="Java2Doc.Java2DocPackage"
            genModel="model/Java2Doc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Java2Doc -->
      <package
            uri="platform:/resource/SimpleJava/model/simpleJava.ecore"
            class="simpleJava.SimpleJavaPackage"
            genModel="model/Java2Doc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Java2Doc -->
      <package
            uri="platform:/resource/SimpleDoc/model/simpleDoc.ecore"
            class="simpleDoc.SimpleDocPackage"
            genModel="model/Java2Doc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Java2Doc -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/Java2Doc.genmodel"/>
   </extension>

</plugin>
