<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="MoDiscoIbexTGG.MoDiscoIbexTGGPackage" genModel="model/MoDiscoIbexTGG.genmodel" uri="platform:/resource/MoDiscoIbexTGG/model/MoDiscoIbexTGG.ecore"/>
  </extension>
</plugin>
