<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MoDiscoIbexTGG -->
      <package
            uri="platform:/resource/MoDiscoIbexTGG/model/MoDiscoIbexTGG.ecore"
            class="MoDiscoIbexTGG.MoDiscoIbexTGGPackage"
            genModel="model/MoDiscoIbexTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MoDiscoIbexTGG -->
      <package
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="ecore.EcorePackage"
            genModel="model/MoDiscoIbexTGG.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MoDiscoIbexTGG -->
      <package
            uri="platform:/resource/MoDiscoIbexTGG/metamodels/Types.ecore"
            class="types.TypesPackage"
            genModel="model/MoDiscoIbexTGG.genmodel"/>
   </extension>

</plugin>
