<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="BlockCodeAdapter.BlockCodeAdapterPackage" genModel="model/BlockCodeAdapter.genmodel" uri="platform:/resource/BlockCodeAdapter/model/BlockCodeAdapter.ecore"/>
  </extension>
</plugin>
