<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Village2ConstrPlan -->
      <package
            uri="platform:/resource/Village2ConstrPlan/model/Village2ConstrPlan.ecore"
            class="Village2ConstrPlan.Village2ConstrPlanPackage"
            genModel="model/Village2ConstrPlan.genmodel"/>
   </extension>

</plugin>
