<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="AdvancedVehicle.AdvancedVehiclePackage" genModel="model/AdvancedVehicle.genmodel" uri="platform:/resource/AdvancedVehicle/model/AdvancedVehicle.ecore"/>
  </extension>
</plugin>
