<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ProcessDefinition.ProcessDefinitionPackage" genModel="model/ProcessDefinition.genmodel" uri="platform:/plugin/ProcessDefinition/model/ProcessDefinition.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ProcessDefinition.facade.FacadePackage" genModel="model/ProcessDefinition.genmodel" uri="platform:/plugin/ProcessDefinition/model/ProcessDefinition.ecore#//facade"/>
  </extension>
</plugin>
