<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExtType2Doc_ShortCut -->
      <package
            uri="platform:/resource/ExtType2Doc_ShortCut/model/ExtType2Doc_ShortCut.ecore"
            class="ExtType2Doc_ShortCut.ExtType2Doc_ShortCutPackage"
            genModel="model/ExtType2Doc_ShortCut.genmodel"/>
   </extension>

</plugin>
