<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TerraceHouses2BlockSet -->
      <package
            uri="platform:/resource/TerraceHouses2BlockSet/model/TerraceHouses2BlockSet.ecore"
            class="TerraceHouses2BlockSet.TerraceHouses2BlockSetPackage"
            genModel="model/TerraceHouses2BlockSet.genmodel"/>
   </extension>

</plugin>
