<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TerraceHouses2BlockSet -->
      <package
            uri="platform:/resource/TerraceHouses2BlockSet/model/TerraceHouses2BlockSet.ecore"
            class="TerraceHouses2BlockSet.TerraceHouses2BlockSetPackage"
            genModel="model/TerraceHouses2BlockSet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TerraceHouses2BlockSet -->
      <package
            uri="platform:/resource/TerraceHouses/model/TerraceHouses.ecore"
            class="TerraceHouses.TerraceHousesPackage"
            genModel="model/TerraceHouses2BlockSet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TerraceHouses2BlockSet -->
      <package
            uri="platform:/resource/WoodenBlockSet/model/WoodenBlockSet.ecore"
            class="WoodenBlockSet.WoodenBlockSetPackage"
            genModel="model/TerraceHouses2BlockSet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TerraceHouses2BlockSet -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/TerraceHouses2BlockSet.genmodel"/>
   </extension>
</plugin>
