<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="CompanyLanguage.CompanyLanguagePackage" genModel="model/CompanyLanguage.genmodel" uri="platform:/resource/CompanyLanguage/model/CompanyLanguage.ecore"/>
  </extension>
</plugin>
