<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FeatureModelConciseToSafe -->
      <package
            uri="platform:/resource/FeatureModelConciseToSafe/model/FeatureModelConciseToSafe.ecore"
            class="FeatureModelConciseToSafe.FeatureModelConciseToSafePackage"
            genModel="model/FeatureModelConciseToSafe.genmodel"/>
   </extension>

</plugin>
