/testsuite1_familiestopersons.ecore
/testsuite1_familiestopersons.tgg.xmi
/FamiliesToPersons_V0.ecore
/FamiliesToPersons_V0.editor.xmi
/FamiliesToPersons_V0.tgg.xmi
/FamiliesToPersons_V0_flattened.editor.xmi
/FamiliesToPersons_V0_flattened.tgg.xmi
