<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Algorithms.AlgorithmsPackage" genModel="model/Algorithms.genmodel" uri="platform:/resource/Algorithms/model/Algorithms.ecore"/>
  </extension>
</plugin>
