<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BlockDiagramCodeAdapter_EdgeRules -->
      <package
            uri="platform:/resource/BlockDiagramCodeAdapter_EdgeRules/model/BlockDiagramCodeAdapter_EdgeRules.ecore"
            class="BlockDiagramCodeAdapter_EdgeRules.BlockDiagramCodeAdapter_EdgeRulesPackage"
            genModel="model/BlockDiagramCodeAdapter_EdgeRules.genmodel"/>
   </extension>

</plugin>
