<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ExtTypeModel.ExtTypeModelPackage" genModel="model/ExtTypeModel.genmodel" uri="platform:/resource/ExtTypeModel/model/ExtTypeModel.ecore"/>
  </extension>
</plugin>
