/bin/
.DS_Store
/results/
/xtend-gen/
/Gurobi_ILP.log
/performance/data/
/performance/plots/
/performance/gnuplot_scripts/
/performance/launchConfigs/
/performance/AllPerformanceTests.launch
/performance/evaluation/data/
/performance/evaluation/
/performance/evaluation/plots/
/performance/evaluation/gnuplot_scripts/
