<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ExtType2Doc_LookAhead.ExtType2Doc_LookAheadPackage" genModel="model/ExtType2Doc_LookAhead.genmodel" uri="platform:/resource/ExtType2Doc_LookAhead/model/ExtType2Doc_LookAhead.ecore"/>
  </extension>
</plugin>
