/bin/
.DS_Store
/results/
/xtend-gen/
/Gurobi_ILP.log
/performance/data/*.dat
/performance/data/*.ser
/performance/plots/*/*.pdf
/performance/gnuplot_scripts/*.gp
/performance/launchConfigs/*.launch
/performance/AllPerformanceTests.launch
/performance/evaluation/data/*.dat
/performance/evaluation/*.dat
/performance/evaluation/*.ser
/performance/evaluation/plots/*/*.pdf
/performance/evaluation/gnuplot_scripts/*.gp
