<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="VHDLModel.VHDLModelPackage" genModel="model/VHDLModel.genmodel" uri="platform:/resource/VHDLModel/model/VHDLModel.ecore"/>
  </extension>
</plugin>
