<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Express2UML.Express2UMLPackage" genModel="model/Express2UML.genmodel" uri="platform:/resource/Express2UML/model/Express2UML.ecore"/>
  </extension>
</plugin>
