<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V0 -->
      <package
            uri="platform:/resource/FamiliesToPersons_V0/model/FamiliesToPersons_V0.ecore"
            class="FamiliesToPersons_V0.FamiliesToPersons_V0Package"
            genModel="model/FamiliesToPersons_V0.genmodel"/>
   </extension>

</plugin>
