<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V0 -->
      <package
            uri="platform:/resource/FamiliesToPersons_V0/model/FamiliesToPersons_V0.ecore"
            class="FamiliesToPersons_V0.FamiliesToPersons_V0Package"
            genModel="model/FamiliesToPersons_V0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V0 -->
      <package
            uri="platform:/resource/SimpleFamilies/model/SimpleFamilies.ecore"
            class="SimpleFamilies.SimpleFamiliesPackage"
            genModel="model/FamiliesToPersons_V0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V0 -->
      <package
            uri="platform:/resource/SimplePersons/model/SimplePersons.ecore"
            class="SimplePersons.SimplePersonsPackage"
            genModel="model/FamiliesToPersons_V0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FamiliesToPersons_V0 -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/FamiliesToPersons_V0.genmodel"/>
   </extension>

</plugin>
