<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BenchmarxFamiliesToPersons -->
      <package
            uri="platform:/resource/BenchmarxFamiliesToPersons/model/BenchmarxFamiliesToPersons.ecore"
            class="BenchmarxFamiliesToPersons.BenchmarxFamiliesToPersonsPackage"
            genModel="model/BenchmarxFamiliesToPersons.genmodel"/>
   </extension>

</plugin>
