<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Village.VillagePackage" genModel="model/Village.genmodel" uri="platform:/resource/Village/model/Village.ecore"/>
  </extension>
</plugin>
