<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="EconomicsModel.EconomicsModelPackage" genModel="model/EconomicsModel.genmodel" uri="platform:/resource/EconomicsModel/model/EconomicsModel.ecore"/>
  </extension>
</plugin>
