<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="platform:/resource/Adele2Aadl/model/Adele2Aadl.ecore"
            class="Adele2Aadl.Adele2AadlPackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="http://ADELE_Components"
            class="ADELE_Components.ADELE_ComponentsPackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="http://aadl.info/AADL/2.0"
            class="aadl2.Aadl2Package"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="http://ADELE_Features"
            class="ADELE_Features.ADELE_FeaturesPackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="http://KernelSpices"
            class="KernelSpices.KernelSpicesPackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="http://ADELE_Relations"
            class="ADELE_Relations.ADELE_RelationsPackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Adele2Aadl -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/Adele2Aadl.genmodel"/>
   </extension>

</plugin>
