<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompanyToIT -->
      <package
            uri="platform:/resource/CompanyToIT/model/CompanyToIT.ecore"
            class="CompanyToIT.CompanyToITPackage"
            genModel="model/CompanyToIT.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompanyToIT -->
      <package
            uri="platform:/resource/CompanyLanguage/model/CompanyLanguage.ecore"
            class="CompanyLanguage.CompanyLanguagePackage"
            genModel="model/CompanyToIT.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompanyToIT -->
      <package
            uri="platform:/resource/ITLanguage/model/ITLanguage.ecore"
            class="ITLanguage.ITLanguagePackage"
            genModel="model/CompanyToIT.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompanyToIT -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore"
            class="runtime.RuntimePackage"
            genModel="model/CompanyToIT.genmodel"/>
   </extension>

</plugin>
