<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "platform:/org.emoflon.express/model/generated/Express.ecore"
			class = "org.emoflon.express.express.ExpressPackage"
			genModel = "model/generated/Express.genmodel" />
	</extension>
</plugin>
